#data, #loader { display: none; }

#loader { margin-left: -260px; }

.jobClass { border: solid 1px #efefef; margin-bottom: 16px; width: 100%; }

.jobClass div.description { padding-left: 10px; }

.jobClass h4 { margin-top: 0; background-color: #428BCA; color: #fff; padding: 10px; }

.jobClass span { float: left; margin-right: 1em; font-weight: bold; }

.jobClass h4 span { float: none; }

.jobClass .body { display: none; }

.jobClass .code:before { content: "Code: "; }

.jobClass .grade:before { content: "Grade: "; }

.jobClass .bargainingUnit:before { content: "BU: "; }

.jobClass .steps { clear: left; padding-top: 10px; }

thead td { font-weight: bold; }

.table { margin-bottom: 0; }

#search { margin-bottom: 1em; padding-left: 5px; }

@media screen and (min-width: 768px) {
    .jobClass { width: 370px; float: left; }
        .jobClass:nth-of-type(odd) { clear: left; margin-right: 16px; }
}

@media screen and (min-width: 1024px) {
    .jobClass:nth-of-type(odd),
    .jobClass:nth-of-type(4n+1) { clear: none; }
    .jobClass:nth-of-type(4n) { margin-right: 0; }
    .jobClass { margin-right: 16px; }

}